div.bg-image{
  background-image: url('https://dl.dropboxusercontent.com/scl/fi/i3cpil4bcgs7ynzp41xyp/IMG_5508.JPG?rlkey=ftjqxrxdysxkvzmdhzdddst42');
  background-size: cover;
  background-position:center ;
  height: 50vh;

}

.animated-photo{
  border-radius: 50%;
  height: 200px;
}
div.get-in-touch > h2,
div.Project-title > h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 80px;
}


